/**
 * NOTE: These are 'global' app styles. 
 */

body {
    background-color: aliceblue;
    position: relative;
    background: url(./assets/angular2.svg) no-repeat center center fixed;
    background-size: contain;
    margin: 0;
}